.about
  include ../../components/shooting-mark/shooting-mark.pug
  +shooting-mark('about__shooting-mark')

  .about__cards
    //- mixin card() параметый {header: '', text: '', cssClass: ''}
    include ../../components/card/card.pug
    - var data = {
    -   img: '',
    -   header: 'продуманная защита',
    -   text: 'Наши читы работают с помощью специально разработанных драйверов с оригинальной подписью. Софт не внедряется в игру',
    - }
    +card(data)
      img(src=require('../img/def.png'), alt="icon picture")

    - var data = {
    -   header: 'доступные цены',
    -   text: 'Стоимость софта на прямую зависит от затрат на сервера, оригинальную подпись дравера. Для некоторых читов разработаны удобные тарифы',
    - }
    +card(data)
      img(src=require('../img/price.png'), alt="icon picture")

    - var data = {
    -   header: 'новое оборудование',
    -   text: 'Мы имеем собственные сервера, которые обеспечивают быструю работу протектора и инжектора с дорогими сертификатами шифрования',
    - }
    +card(data)
      img(src=require('../img/device.png'), alt="icon picture")

    - var data = {
    -   header: 'служба поддержки',
    -   text: 'Техническая поддержка работает 22/7 в нашей группе Вконтакте. На все ваши вопросы и помощь в установке саппорт может ответить в порядке очереди',
    - }
    +card(data)
      img(src=require('../img/head.png'), alt="icon picture")

  .about__nav
    include ../../components/nav/nav.pug
  
  .row.about__row
    .col-6.about__left-col
      div.about__img-container
        img(src=require('../img/pic-about-1.png'), alt="picture")
      div.about__img-container
        img(src=require('../img/pic-about-2.png'), alt="picture")
    .col-6.about__right-col
      h2.about__h2 О нас
      p.about__p Мы профессиональная команда кодеров Мы разрабатываем софт для геймеров которые играют на кибер-аренах и всячески радуем пользователей нашего приватного проекта комплексными софтами в рамках приватности, доступ к программам предоставляются за не больше вознаграждения в нашу копилку.
      p.about__p У нас нет посредников, весь софт можно приобрести на нашем сайте любыми способами оплаты в РФ. После покупки вы получаете дальнейшие инструкции на ваш почтовый ящик. После приобретение всем пользователям доступна служба поддержки Вконтакте.

      button.btn-rect.about__btn приобрести чит